<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADAsignment"
        tools:targetApi="31">
        <activity
            android:name=".profile.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
             <!-- Home -->
        <activity android:name=".home.lesson_unit.test.TestCompletionActivity" />
        <activity android:name=".home.lesson_unit.test.TestSplashScreen" />
        <activity android:name=".home.lesson_unit.test.LessonTestActivity" />
        <activity android:name=".home.lesson_unit.lesson_quiz.LessonCompletionActivity" />
        <activity android:name=".home.lesson_unit.lesson_unit.LessonUnit"/>


        <activity android:name=".home.lesson_unit.levels.LevelsActivity" />
        <activity android:name=".home.lesson_unit.flashcard.Flashcard" />
        <activity android:name=".home.lesson_unit.test.ResultActivity" />
        <activity android:name=".home.lesson_unit.test.TestResult" />
        <activity android:name=".home.lesson_unit.test.AnswerBreakdownActivity" />
        <activity android:name=".home.lesson_unit.lesson_quiz.LessonQuestionActivity" />
        <activity android:name=".home.lesson_unit.flashcard.FlashcardSplashScreenActivity" />
        <activity android:name=".home.lesson_unit.flashcard.FinishSplashActivity" /> <!-- Lessons -->
        <activity android:name=".lessons.Module.video.video" />
        <activity android:name=".lessons.Module.read.ReadOnlyActivity" /> <!-- Gamification -->
        <activity android:name=".gamification.AchievementSplash" />
        <activity android:name=".gamification.AchievementOverviewActivity" />
        <activity android:name=".gamification.badge.MyBadgesActivity" />
        <activity android:name=".gamification.LeaderboardActivity" />
        <activity android:name=".gamification.dailystreak.DailyStreakActivity" />
        <activity
            android:name=".lessons.Module.module.Module"
            android:exported="false" /> <!-- Community -->
        <activity android:name=".community.FriendRequestsActivity" />
        <activity android:name=".community.ReportSubmitActivity" />
        <activity android:name=".community.ReportDiscussionActivity" />
        <activity android:name=".community.AddFriendActivity" />
        <activity android:name=".community.FriendlistActivity" />
        <activity android:name=".community.SpecificDiscussionActivity" />
        <activity android:name=".community.NewPostActivity" />
        <activity android:name=".community.DiscussionForumActivity" />
        <activity android:name=".community.CommunityFrontPageActivity" /> <!-- Profile -->
        <activity android:name=".profile.LogInActivity" />
        <activity android:name=".profile.ProfilePageActivity" />
        <activity android:name=".profile.SettingsActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".profile.PreferencesActivity" />
        <activity android:name=".profile.PrivacyActivity" />
        <activity android:name=".profile.CoursesActivity" />
        <activity android:name=".profile.SignInActivity" />

    </application>

</manifest>