<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADAsignment"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".community.NewPostActivity"
            android:exported="false" />
        <activity
            android:name=".community.DiscussionForumActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityFrontPageActivity"
            android:exported="false" />
        <activity
            android:name=".community.FriendlistActivity"
            android:exported="false" />
        <activity
            android:name=".community.AddFriendActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SignInActivity"
            android:exported="false">

        </activity>

        <activity android:name=".test.TestCompletionActivity"
            android:exported="false"/>


        <activity
            android:name=".test.TestSplashScreen"
            android:exported="false" />
        <activity
            android:name=".test.LessonTestActivity"
            android:exported="false" />

        <activity android:name=".profile.LogInActivity" />
        <activity android:name=".profile.ProfilePageActivity" />

        <activity android:name=".profile.SettingsActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".profile.PreferencesActivity" />
        <activity android:name=".profile.PrivacyActivity" />
        <activity android:name=".profile.CoursesActivity" />


        <activity
            android:name=".lesson_quiz.LessonCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_unit.LessonUnit"
            android:exported="false"/>


        <activity
            android:name=".levels.LevelsActivity"
            android:exported="false" />
        <activity
            android:name=".video.video"
            android:exported="false" />
        <activity
            android:name=".flashcard.Flashcard"
            android:exported="false" />
        <activity
            android:name=".test.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".test.TestResult"
            android:exported="false" />
        <activity
            android:name=".test.AnswerBreakdownActivity"
            android:exported="false" />

        <activity
            android:name=".Module.Module"
            android:exported="false" />
        <activity
            android:name=".read.ReadOnlyActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_quiz.LessonQuestionActivity"
            android:exported="false" />
        <activity android:name=".flashcard.FlashcardSplashScreenActivity" />
        <activity android:name=".flashcard.FinishSplashActivity" />
    </application>

</manifest>